# Ignorar o ficheiro .env
.env
.venv/
venv
.data/
.app/_pycache__/
.app/__pycache__/
.app/db/__pycache__/
.app/extensions/__pycache__/
.app/static/__pycache__/
# Ignorar ficheiros de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ficheiros de cache do Flask
instance/
*.db
*.sqlite3

# Ignorar ficheiros do macOS
.DS_Store
# Ignorar ficheiros de log
*.log
# Ignorar ficheiros de configuração do VS Code
.vscode/
# Ignorar ficheiros de configuração do PyCharm
.idea/
# Ignorar ficheiros de configuração do Jupyter Notebook

# Ignorar o ficheiro rede.db dentro da pasta data
data/rede.db

**/*.db

/TESTES/
