Flask
Flask-SocketIO
Flask-Login
Flask-Dotenv
flask-mail
flask_sqlalchemy
flask_bcrypt
plotly
requests
networkx
python-dotenv
Jinja2
python-nmap
pywebview
screeninfo
numpy
google-generativeai
netifaces
markdown2
