{% extends "base.html" %}
{% block body %}
<div class="container mt-4">
  <h3>Sobre</h3>
  <p>Scanner de Rede desenvolvido para análise e monitorização de dispositivos e vulnerabilidades.</p>
  <p><b>Versão:</b> 1.0</p>
  <p><b>Autor:</b> Carlos Sousa, David Sá, Matteo Robert</p>
  <p><b>Data de Lançamento:</b> Junho de 2025</p>
  <p><b>Descrição:</b> Esta aplicação permite realizar scans de rede, identificar dispositivos conectados, verificar portas abertas e analisar vulnerabilidades conhecidas. É uma ferramenta útil para administradores de rede e profissionais de segurança.</p>
  <p><b>Requisitos:</b> Python 3.8 ou superior, Flask, SQLite, Socket.IO.</p>
  <p><b>Licença:</b> MIT License</p>
  <p>Para mais informações, consulte a documentação oficial.</p>
</div>
{% endblock %}