{% extends "base.html" %}
{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="text-center">
    <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
      <span class="visually-hidden">A analisar...</span>
    </div>
    <h3 class="mt-4">Em análise de rede...</h3>
    <p>Aguarde enquanto a análise decorre.</p>
  </div>
</div>
<!-- <script>
window.onload = function() {
  // Após a página e recursos carregarem, redireciona para o index
  window.location.href = "/";
};
</script> -->
{% endblock %}